@custom-media --viewportxSmall (min-width: 550px);
@custom-media --viewportSmall (min-width: 768px);
@custom-media --viewportMedium (min-width: 1024px);
@custom-media --viewportLarge (min-width: 1152px);
@custom-media --viewportXLarge (min-width: 1280px);
@custom-media --viewportLargeWithPaddings (min-width: 1440px);
@custom-media --viewportFHD (min-width: 1921px);

.container {
  & .headingContainer {
    & h1 {
      font-size: 32px;
      margin: 0;
      font-weight: 400;
      font-family: SongMyung;
      color: rgb(0, 0, 0);
      line-height: 0.878;
      text-transform: uppercase;
    }
    & > h3 {
      margin: 0;
    }
     & h3 {
        font-size: 32px !important;
      }
  }

  & p {
    font-size: 1.25em;
    font-weight: 600;
    font-family: NotoSans;
    color: rgb(0, 0, 0);
    line-height: 1.455;
    max-width: 500px;
    margin: 30px auto;
  }

  @media (--viewportSmall) {
    & .headingContainer {
      & > h1 {
        font-size: 52px;
      }
      & h3 {
        font-size: 52px !important;
      }
    }
  }

  @media (--viewportXLarge) {
    & h1 {
      font-size: 82px;
    }
    & p {
      margin: 30px 0;
    }
  }
}

.topContainer {
  display: flex;
  align-items: center;

  gap: 34px;
  flex-direction: column-reverse;
  & .details {
    flex: 1 1;
    padding-right: 0;
    width: 100%;
    padding-right: 0;
    text-align: center;
    & .aboutBerry {
      padding-bottom: 5%;
    }
    & .tokenEco {
      /* max-width: 700px; */
      & > h1 {
        text-transform: capitalize;
        line-height: 0.6;
      }
      & .bitberryToken {
        display: flex;
        gap: 2rem;
        margin: 0;
        align-items: center;
        max-width: 100%;

        & img {
          max-width: 100%;
        }

        & .aboutBbr {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          & > h3 {
            font-size: 32px;
            font-family: SongMyung;
            font-weight: 400;
            color: rgb(0, 0, 0);
            line-height: 1;
            margin: 0;
          }
          & > p {
            margin: 16px 0 24px;
          }
          & button {
            height: 40px;
            padding: 0;
          }
        }
      }

      & .buttonContainer {
        margin: 0;
        & p {
          margin-top: 0;
        }
      }

      & > button {
        height: 60px;
      }
    }
  }

  & .mainImageContainer {
    flex: 1;
    display: flex;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top;
      border: 10px solid #fff;
    }
  }

  @media (--viewportLarge) {
    flex-direction: row;

    & .details {
      text-align: left;
      width: auto;
      padding-right: 4rem;
      & .aboutBerry {
        padding-bottom: 10%;
      }
      & .tokenEco {
        & .bitberryToken {
          margin: 6% 0;

          & img {
            max-width: unset;
          }

          & .aboutBbr {
            & h3 {
              font-size: 42px;
            }
          }
        }
      }
    }
  }

  @media (--viewportXLarge) {
    align-items: flex-start;
  }
}

.BottomContainer {
  margin: 50px 0 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-gap: 34px;
  gap: 24px;
  padding-right: 0;
  flex-wrap: wrap;

  & .whatIsNFT {
    & img {
      max-width: 100%;
    }
  }

  & .aboutNft {
    & .headingContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      & > h1 {
        font-size: 28px;
        display: flex;
        align-items: center;
      }
      & > h3 {
        font-size: 28px;
        margin-left: 1rem;
      }
    }

    & > p {
      display: flex;
      flex-direction: column;
      & > span {
        margin: 0 0 1%;
      }
    }
  }

  @media (--viewportSmall) {
    & .aboutNft {
      & .headingContainer {
        & > h1 {
          font-size: 52px;
        }
        & h3 {
          font-size: 52px;
        }
      }
    }
  }
  @media (--viewportLarge) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-align: left;
    & .aboutNft {
      & .headingContainer {
        justify-content: flex-start;

        & > h1 {
          font-size: 82px;
        }
        & h3 {
          font-size: 82px !important;
        }
      }
    }
    margin: 40px 0 100px;
    display: flex;
    align-items: center;
    gap: 34px;
    padding-right: 2%;
  }
}

.economy {
  font-size: 82px;
  background: linear-gradient(
    120deg,
    rgb(255, 109, 138) 120px,
    rgb(237, 213, 104) 250px
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  line-height: initial !important;
}

.nft {
  font-size: 82px;
  background: linear-gradient(120deg, #6fd7fe 30px, #8868ef 120px) !important;

  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.bottomFlexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
  text-align: left;

  & > div {
    flex: 1;
    height: 200px;
  }

  @media (--viewportMedium) {
    flex-direction: row;
    align-items: center;
  gap: 20px;

  }
  @media (--viewportLarge) {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
