.btn {
    height: 60px;
    border-radius: 50px;
    font-family: NotoSans;
    font-weight: 700;
    cursor: pointer;
}

.PRIMARY {
    background-color: black;
    color: #fff;
    border: none;
}

.SECONDARY {
    background-color: white;
    color: #000;
    border: 2px solid #000;
}

.TERTIARY {
    background-color: white;
    color: #000;
    border: 2px solid #e6e6e6;
}
