@custom-media --viewportxSmall (min-width: 550px);
@custom-media --viewportSmall (min-width: 768px);
@custom-media --viewportMedium (min-width: 1024px);
@custom-media --viewportLarge (min-width: 1152px);
@custom-media --viewportXLarge (min-width: 1280px);
@custom-media --viewportLargeWithPaddings (min-width: 1440px);
@custom-media --viewportFHD (min-width: 1921px);

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  max-width: 840px;
  margin: 10px auto auto;
  gap: 5%;

  & button {
    height: 60px !important;
  }

  & h3 {
    font-family: SongMyung;
    font-weight: 400;
  }

  & > button {
    color: #fff;
    height: 60px;

    &:disabled {
      color: #000;
      background: #e6e6e6 !important;
    }
  }

  & > div {
    flex: 1;
  }

  & .cardContainer {
    display: block;
    margin: 0;
    width: 335px;
    flex: 1;
    @media (max-width: 850px) {
      display: none;
      flex: 0;
    }
    & > div {
      width: 335px;
      margin: 0;
    }
  }

  & .bidContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .instantBuyContainer {
      & .pricing {
        /* margin-bottom: 1rem; */
      }
    }

    & .pricing {
      display: flex;
      flex-direction: column;
      & > h2 {
        margin: 0 0 31px;
        font-size: 42px;
        font-weight: 700;
        font-family: NotoSans;
        color: rgb(0, 0, 0);
        line-height: 1;
      }
      & > span {
        line-height: 1;
        font-size: 22px;
        font-weight: 400;
        font-family: SongMyung;
        color: rgb(0, 0, 0);
        line-height: 1.091;

        &:first-of-type {
          font-size: 15px;
          font-family: NotoSans;
          font-weight: 700;
          margin: 0 0 13px;
        }
      }
    }

    & .inputContainer {
      display: flex;
      flex-direction: column;

      & .formContainer {
        margin: 28px 0;
      }
      & .pricingForm {
        background: #000;
        border-radius: 10px;
        display: flex;
        margin-bottom: 12px;
        /* overflow: hidden; */
        & input {
          flex: 3;
          padding: 0 3%;
          background: #fff;
          border-radius: 10px;
          border: 3px solid #000;
          font-size: 2.5em;
          font-family: SongMyung;
          font-weight: 400;
          color: rgb(0, 0, 0);
          line-height: 0.571;
          min-width: 0;
          width: 100%;
          max-width: auto;

          &:focus-visible {
            outline: none;
          }

          @media (--viewportMedium) {
            max-width: 250px;
          }
        }

        & .dropdown {
          flex: 1;
          padding: 10px 8px;
          min-width: 120px;
          & button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            width: 100%;
            & h3 {
              color: #fff;
              margin: 0 10px;
              font-size: 24px;
              font-family: SongMyung;
              font-weight: 400;
              line-height: 1.091;
            }
          }

          @media (--viewportSmall) {
            max-width: 140px;
            padding: 10px 24px;
          }
          @media (--viewportMedium) {
            padding: 5% 14px;
            max-width: 160px;

            & button {
              & h3 {
                font-size: 34px;
              }
            }
          }
        }
      }

      & .small {
        font-size: 15px;
        font-family: NotoSans;
        font-weight: 700;
        color: rgb(102, 102, 102);
        line-height: 1.6;
        margin: 10px 0;
      }

      & .yourBalance {
        display: flex;
        justify-content: space-between;
        padding: 20px 4%;
        background: #e6e6e6;
        border-radius: 10px;
        margin: 0 0 35px;
        font-size: 15px;
        font-family: NotoSans;
        font-weight: 700;
        color: rgb(102, 102, 102);
        line-height: 1.6;
        color: #000;

        & .balance {
          color: #666666;
        }

        & .amount {
          font-size: 22px;
          font-family: SongMyung;
          font-weight: 400;
          color: rgb(0, 0, 0);
          line-height: 1.091;
        }

        @media (--viewportMedium) {
          padding: 5% 4%;
        }
      }
      & .info {
        font-size: 15px;
        font-family: NotoSans;
        font-weight: 700;
        color: rgb(102, 102, 102);
        line-height: 1.6;
        margin: 0 0 42px;
      }
    }
  }
}

.currencySlect {
  & > ul {
    width: 120px;
    border: none;
    border-radius: 10px;
    padding: 0;
    background: #000;
    padding: 10px 1rem;
  }

  & .currencyItem {
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 0.375rem;
    display: flex;
    background: none;

    font-family: SongMyung;
    font-size: 24px;
    font-weight: 400;

    & > img {
      margin-right: 10px;
    }

    &:hover {
      background: #333 !important;
    }
  }
  @media (--viewportMedium) {
    & > ul {
      width: 160px;
    }

    & .currencyItem {
      font-size: 34px;
    }
  }
}

.modal {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.details {
  text-align: center;
  & h3 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    font-family: NotoSans;
    color: rgb(0, 0, 0);
    line-height: 1.091;
  }

  & p {
    margin: 0;
    font-size: 15px;
    font-family: NotoSans;
    font-weight: 700;
    color: #666666;
    line-height: 1.273;
  }
}

.walletOptions {
  width: 320px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & button {
    width: 100%;

    align-items: center;
    font-family: NotoSans;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
}

.close {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 40px;
}

.time {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;

  & > h3 {
    font-family: SongMyung;
    font-weight: 400;
    font-size: 28px;
    display: flex;
    align-items: center;
    margin-right: 12px;
    align-items: baseline;
    margin-right: 12px;

    & .small {
      font-family: NotoSans;
      font-size: 15px;
      font-weight: 700;
      margin: 0 2px;
    }
  }
}

.instantBuy {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;

  & h3 {
    font-size: 28x;
  }

  & .small {
    font-family: NotoSans;
    font-size: 15px;
    font-weight: 700;
    margin: 0 2px;
    color: #666666;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
