.absContainer {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.wallimage {
  position: relative;
}

.imageContainer {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.bottomContainer {
  padding: 80px 0 0 0;
  display: flex;
  gap: 30px;
  min-height: 70vh;
}

.asid {
  flex-basis: 28%;
  display: flex;
  flex-direction: column;
  position: relative;

  & .addressContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 260px;
    background: #fff;
    border-radius: 50px;
    padding-right: 10px;
    & > button {
      max-height: 35px;
      margin: 0 1rem 0 0;
    }
    & > span {
      margin: 0 0.5rem 0 0;
      font-size: 20px;
      font-family: SongMyung;
      font-weight: 400;
      color: rgb(0, 0, 0);
      line-height: 1.2;
    }

    & .copyBtn {
      cursor: pointer;
    }
  }

  & .artistDetails {
    & .infoContainer {
      margin-top: 3rem;
      & > h3:first-of-type {
        font-size: 42px;
        font-family: NotoSans;
        font-weight: 700;
        color: rgb(0, 0, 0);
        line-height: 0.976;
        margin: 0 0 30px;
      }

      & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
      }
    }

    & .aboutContainer { 
      & > h3 {
        font-size: 20px;
        font-family: NotoSans;
        font-weight: 700;
        color: rgb(0, 0, 0);
        line-height: 2.049;
        padding-bottom: 1.2rem;
        margin-bottom: 1.2rem;
        border-bottom: 1px solid #e6e6e6;
      }

      & .about {
        font-size: 20px;
      }
    }
  }
}

.listings {
  flex-basis: 72%;

  & > h3 {
    font-size: 22px;
    font-family: "Noto Sans CJK KR";
    color: rgb(0, 0, 0);
    line-height: 1.091;
    font-size: 22px;
    margin: 0 0 25px;
  }
}

.avatarContainer {
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  background: #ffffff;
  margin-top: -200px;
  position: absolute;
}

.avatarContainer img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.linksContainer {
  margin-top: 3rem;
  width: 77%;
  & .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    background: #fff;
    padding: 15px 18px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #f2f2f2;

    & > div {
      display: flex;
      align-items: center;

      & .linkIcon {
        margin-right: 18px;
        cursor: pointer;
      }

      & span {
        font-size: 15px;
        font-weight: 700;
        font-family: NotoSans;
        color: rgb(0, 0, 0);
        line-height: 1.6;
      }
    }
  }
}

.work {
  & section > div {
    @media (min-width: 1280px) {
      width: 31.333%;
    }
  }
}
