.menuButton {
  outline: none;
  background: none;
}

.profileBtn {
  /* &:hover {
    box-shadow: rgb(0 0 0 / 25%) 0px 8px 15px;
    transform: translateY(-2px);
  } */
  & > div {
    transition: all 300ms ease-in-out;
   &:hover {
      box-shadow: rgb(0 0 0 / 25%) 0px 8px 15px;
    transform: translateY(-2px);
   }
  }
}

:global(.szh-menu-button) {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

:global(.szh-menu-button) {
  & > div {
    padding: 0 12px;
  }
}
:global(.szh-menu) {
  width: 300px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 0;
  background: #fafafa;
  box-shadow: none;
}

:global(.szh-menu__item) {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  font-family: NotoSans;
  font-weight: 700;
  color: rgb(0, 0, 0);
  line-height: 1.5;

  & > div, & > span {
  transition: all 300ms ease-in-out;

  }
  
  &:hover {
    & > div, & > span {
      transform: translate3d(5px, 0px, 0px);
    }
  }

  &:first-child {
    margin: 0;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 10px;
    background: #fff;
    &:hover {
      background: #ebebeb;
    }

    & > div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 0;
      width: auto;
      background: transparent;
      border: none;
      border-radius: 0;
    }
  }
  &:not(:first-child) {
    border-bottom: 1px solid #f2f2f2;
    padding: 26px;
  }
  & > span {
    display: flex;
    align-items: center;
    & img {
      margin-right: 12px;
    }
  }
}

.balance {
  font-size: 20px;
  font-family: SongMyung;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 1;
}

.address {
  font-size: 16px;
  font-weight: 400;
  font-family: SongMyung;
  color: rgb(102, 102, 102);
  line-height: 1;
}
