

.small {
  font-size: 13px;
  font-family: NotoSans;
  font-weight: 700;
  color: rgb(102, 102, 102);
  line-height: 1.6;

  @media (min-width: 1280px) {
    font-size: 15px;
  }
}

.headerContainer {
  max-width: 1440px;
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 3rem;
  gap: 30px;
  & h3 {
  font-size: 28px;
  font-family: SongMyung;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 0.667;
  margin: 16px 0;

  @media (min-width: 1280px) {
    font-size: 36px;
    margin: 21px 0;
  }
}

  @media (min-width: 1280px) {
    justify-content: unset;
    margin-top: 4rem;
  }
}

.imageContainer {
  max-width: 450px;

  @media (min-width: 1024px) {
    max-width: 350px;
    margin: 10px 20px 0;
  }

  @media (min-width: 1280px) {
    max-width: 450px;
    margin: 10px 108px;
  }
}

.imageContainer > img {
  border: 1px solid #e6e6e6;
  background: #fff;
  padding: 10px;
  max-width: 100%;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 16px 0;

  @media (min-width: 1280px) {
    padding: 94px 16px 0;
  }
}

.contentContainer .author {
  display: flex;
  width: 100%;
  align-items: center;
  & > div {
    background: #fff;
    margin-right: 23px;
  }
}

.contentContainer .heroHeading {
  font-size: 50px;
  font-weight: normal;
  font-family: SongMyung;
  color: rgb(0, 0, 0);
  line-height: 0.4;
  margin: 34px 0 50px 0;

  @media (min-width: 1280px) {
    font-size: 60px;
  }
}

.contentContainer .auctionDetails {
  display: flex;
}

.contentContainer .auctionDetails .pricing {
  border-right: 1px solid #e6e6e6;
  margin-right: 48px;
  padding-right: 48px;

  @media (min-width: 1440px) {
    margin-right: 58px;
    padding-right: 58px;
  }

  & > span {
    font-size: 15px;
    font-family: NotoSans;
    font-weight: 700;
    color: rgb(0, 0, 0);
    line-height: 1.6;
  }
}

.contentContainer .auctionDetails .timeLeft {
  & > span {
    font-size: 15px;
    font-family: NotoSans;
    font-weight: 700;
    color: rgb(0, 0, 0);
    line-height: 1.6;   
  }
  & .time {
    display: flex;
    width: 100%;

    & h3 {
      display: flex;
      flex-direction: column;
      margin-right: 24px;
      & .small {
        margin-top: 20px;
      }
    }
  }
}

.cta {
  margin: 34px 0 0;
  width: 100%;
  max-width: 500px;
  display: flex;
  & button {
    margin-right: 28px;
    width: 100%;
  }

  & button:first-child {
    flex: 2;
  }
  & button:last-child {
    flex: 1;
  }

  /* @media (min-width: 1440px) {
    & button:first-child {
      width: 280px;
    }
    & button:last-child {
      width: 224px;
    }
  } */
}
