@custom-media --viewportxSmall (min-width: 550px);
@custom-media --viewportSmall (min-width: 768px);
@custom-media --viewportMedium (min-width: 1024px);
@custom-media --viewportLarge (min-width: 1152px);
@custom-media --viewportXLarge (min-width: 1280px);
@custom-media --viewportLargeWithPaddings (min-width: 1440px);
@custom-media --viewportFHD (min-width: 1921px);

.small {
  font-size: 13px;
  font-family: NotoSans;
  font-weight: 700;
  color: rgb(102, 102, 102);
  line-height: 1.6;

  @media (min-width: 1280px) {
    font-size: 15px;
  }
}

.headerContainer {
  max-width: 1440px;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0rem;
  gap: 30px;

  & h3 {
    font-size: 28px;
    font-family: SongMyung;
    font-weight: 400;
    color: rgb(0, 0, 0);
    line-height: 0.667;
    margin: 12px 0;

    @media (min-width: 1280px) {
      font-size: 36px;
      margin: 12px 0;
    }
  }

  @media (--viewportMedium) {
    align-items: center;
    flex-direction: row;
    margin-top: 2em;
    gap: 3%;
  }

  @media (--viewportXLarge) {
    gap: 5%;
  }

  @media (--viewportLargeWithPaddings) {
    gap: 117px;
  }
}

.imageContainer {
  /* min-width: 100%; */
  flex: 1;
  text-align: center;
  margin: auto;

  & .insideContainer {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    & img {
      border: 1px solid #e6e6e6;
      background: #fff;
      padding: 10px;
      max-width: 100%;
      max-height: 400px;
      object-fit: contain;
    }
  }

  @media (--viewportMedium) {
    max-width: 660px;
    & .insideContainer {
      height: 450px;
      width: 450px;
      margin: auto;

      & img {
        border: 1px solid #e6e6e6;
        background: #fff;
        padding: 10px;
        max-height: 450px;
        max-width: 450px;
        object-fit: contain;
      }
    }
  }

  @media (--viewportLarge) {
    & .insideContainer {
      height: 500px;
      width: 500px;
      margin: auto;

      & img {
        border: 1px solid #e6e6e6;
        background: #fff;
        padding: 10px;
        max-height: 500px;
        max-width: 500px;
        object-fit: contain;
      }
    }
  }

  @media (--viewportXLarge) {
    & .insideContainer {
      height: 558px;
      width: 558px;
      margin: 0 0 0 20px;

      & img {
        border: 1px solid #e6e6e6;
        background: #fff;
        padding: 10px;
        max-width: 558px;
        max-height: 558px;
        object-fit: contain;
      }
    }
  }
  @media (--viewportLargeWithPaddings) {
    & .insideContainer {
      margin: 0 0 0 102px;
    }
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  flex: 1 1;

  & .auctionDetails {
    display: flex;
    max-height: unset;
    flex-direction: column;
    grid-gap: 20px;

    & .pricing {
      border-right: none;
      margin-right: 48px;
      padding-right: 48px;

      @media (min-width: 1440px) {
        margin-right: 58px;
        padding-right: 58px;
      }

      & > span {
        font-size: 15px;
        font-family: NotoSans;
        font-weight: 700;
        color: rgb(0, 0, 0);
        line-height: 1;
      }
    }

    & .timeLeft {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      grid-gap: 12px;

      & > span {
        font-size: 15px;
        font-family: NotoSans;
        font-weight: 700;
        color: rgb(0, 0, 0);
        line-height: 1;
      }
      & .time {
        display: flex;
        width: 100%;

        & h3 {
          display: flex;
          flex-direction: column;
          margin: 0 24px 0 0;
          & .small {
            margin-top: 12px;
          }
        }
      }
    }
  }

  @media (min-width: 1280px) {
    padding: 0;
  }

  & .heroHeading {
    font-size: 36px;
    font-weight: normal;
    font-family: SongMyung;
    color: rgb(0, 0, 0);
    line-height: 0.7;
    margin: 34px 0 25px;

    @media (--viewportSmall) {
      font-size: 60px;
      margin: 34px 0 50px;
    }
  }

  & .author {
    display: flex;
    width: 100%;
    align-items: center;
    & > div {
      background: #fff;
      margin-right: 23px;
    }
    & .gradText {
      margin: 0 !important;
      font-size: 24px;
    }
  }

  @media (--viewportSmall) {
    height: 370px;
    & .auctionDetails {
      max-height: 94px;
      grid-gap: unset;
      flex-direction: row;

      & .pricing {
      border-right: 1px solid #e6e6e6;
      }
    }
  }

  @media (--viewportMedium) {
    max-width: 490px;
  }
  @media (--viewportLarge) {
    max-width: 648px;
  }
}

.cta {
  margin: 34px 0 0;
  width: auto;
  display: flex;

  flex-wrap: wrap-reverse;
  grid-gap: 20px;

  & button {
    height: 60px;
    margin-right: 20px;
    width: 100%;
  }

  @media (--viewportSmall) {
    width: 100%;
    flex-wrap: nowrap;
    grid-gap: 0;
  }
  @media (--viewportLarge) {
    & button {
      height: 60px;
      margin-right: 28px;
      width: 100%;
    }
  }
}
