@custom-media --viewportxSmall (min-width: 550px);
@custom-media --viewportSmall (min-width: 768px);
@custom-media --viewportMedium (min-width: 1024px);
@custom-media --viewportLarge (min-width: 1152px);
@custom-media --viewportXLarge (min-width: 1280px);
@custom-media --viewportLargeWithPaddings (min-width: 1440px);
@custom-media --viewportFHD (min-width: 1921px);

.logoContainer {
        margin: 0;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1200;

    & > a {
            text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    }

    @media (--viewportMedium) {
    margin: 0;
    position: unset;
    }
}

.logoContainer span {
    font-family: SongMyung;
    font-size: 32px;
    font-weight: 400;
    margin: 0 0 0 9px;
}