.container {
  cursor: pointer;
  width: 96%;
  background: #fff;
  border-radius: 10px;
  margin: 2%;
  margin-bottom: 25px;
  float: left;
  overflow: hidden;
  border: 1px solid #f2f2f2;

  @media (min-width: 768px) {
    width: 48%;
    margin: 1%;
  }

  @media (min-width: 1024px) {
    width: 31.3333%;
  }
  @media (min-width: 1280px) {
    width: 23%;
  }
}
.imgContainer {
  height: 335px;
}

.imgContainer img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  object-position: top;
}

.artistImg {
  height: 190px;
}

.artistImg img {
  object-fit: cover;
  width: 100%;
  height: 190px;
}

.bottomContainer {
  padding: 32px 25px 22px;
   & > p {
     padding: 0 0 10px;
   }
}

.bottomContainer .heading {
  font-family: NotoSans;
  font-size: 22px;
  font-weight: 700;
  margin: 15px 0 23px;
  line-height: 1;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.avatarContainer {
     border-radius: 50px;
    border: none;
    height: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0 0;
}

.avatarContainer img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #eeeded;
}

.avatarContainer span {
  padding-left: 12px;
  color: #666666;

  font-size: 15px;
  font-family: NotoSans;
  font-weight: 700;
  color: rgb(102, 102, 102);
  line-height: 1.6;
}

.artistAvatar {
  width: 87px;
  height: 87px;
  background: #ffffff;
  margin-top: -60px;
  /* z-index: 100; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artistAvatar img {
  width: 76px;
  height: 76px;
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
  padding: 22px 25px;
  background: #fff;
  border-top: 1px solid #f2f2f2;

  & .totalWorks {
    font-size: 26px;
    font-family: SongMyung;
    color: rgb(0, 0, 0);
    line-height: 0.923;
  }
}

.dark {
  background: #000;
  border: none;
}

.detailsContainer > div {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.detailsContainer > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.detailsContainer > div > span {
  font-size: 20px;
  display: flex;
  line-height: 1;
  margin: 0;
}

.detailsContainer > div h3 {
  font-family: NotoSans;
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  margin: 0;
}

.circle {
  width: 22px;
  height: 22px;
  border-radius: 50px;
  background: #a46ffe;
  background: linear-gradient(120deg, #a46ffe 10%, #ef69c3 100%);
  margin-right: 10px;
}
.infoContainer {
  margin: 24px 0 20px;
}
.infoContainer h3 {
  font-size: 22px;
  font-weight: 700;
  font-family: NotoSans;
  color: rgb(0, 0, 0);
  line-height: 1.091;
  margin: 0 0 6px;
}

.time {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;

  & > h3 {
    font-family: SongMyung !important;
    font-weight: 400 !important;
    font-size: 1em !important;
    margin: 0 !important;
    display: flex;  
    color: #fff;
    align-items: center;
    margin-right: 12px;
    align-items: baseline;
    margin-right: 12px;

    & .small {
      font-family: NotoSans;
      font-size: 15px;
      font-weight: 700;
      margin: 0 2px;
      color: #cccccc;
    }
  }
}
