@custom-media --viewportxSmall (min-width: 550px);
@custom-media --viewportSmall (min-width: 768px);
@custom-media --viewportMedium (min-width: 1024px);
@custom-media --viewportLarge (min-width: 1152px);
@custom-media --viewportXLarge (min-width: 1280px);
@custom-media --viewportLargeWithPaddings (min-width: 1440px);
@custom-media --viewportFHD (min-width: 1921px);

.headerContainer {
  width: 100%;
  z-index: 999;
  min-height: 88px;
  display: flex;
  align-items: flex-end;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;

  @media (min-width: 1440px) {
    max-width: 1440px;
  }
}

.linksContainer {
  display: flex;
}

.linksContainer > button {
  margin-left: 120px;
}

.linklist {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0 57px 0 0;
}

.linklist > a {
  margin-left: 46px;

  font-family: NotoSans;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  
  @media (--viewportMedium) {
    font-size: 14px;
  }
  @media (--viewportLarge) {
    font-size: 16px;
  }

  &.dark {
    color: #666;
  }

  &.light {
    color: #ffffff;
  }
}

.linklist a.dark.active {
  color: rgb(0, 0, 0);
}

.linklist a.light.active {
  color: rgb(200, 200, 200);
}
