.container {
  width: 100%;
  background: #000;
}

.footerContainer {
  padding: 56px 0;
  margin: auto;
  width: 95%;

  @media (min-width: 1440px) {
    max-width: 1440px;
  }
}

.footerDetails {
  border-bottom: 1px solid #333333;
  padding-bottom: 56px;

  & .insideContainer {
    display: flex;
    justify-content: space-between;
    & img {
      margin-bottom: 12px;
    }

    & p {
      font-size: 13px;
      font-family: NotoSans;
      font-weight: 600;
      color: rgb(102, 102, 102);
      line-height: 1.846;
      margin: 0;
    }
  }
}

.footerBottom {
  padding-top: 25px;
  display: flex;
  align-items: center;

  & > div {
    margin-right: 2rem;
    & > a {
      & > span {
        font-size: 23px;
      }
    }
  }
  & a {
    margin: 5px 20px 0 0;
    font-size: 13px;
    font-family: NotoSans;
    &:hover {
     color: #999; 
    }
  }
}

.linklist {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0;
}
