@custom-media --viewportxSmall (min-width: 550px);
@custom-media --viewportSmall (min-width: 768px);
@custom-media --viewportMedium (min-width: 1024px);
@custom-media --viewportLarge (min-width: 1152px);
@custom-media --viewportXLarge (min-width: 1280px);
@custom-media --viewportLargeWithPaddings (min-width: 1440px);
@custom-media --viewportFHD (min-width: 1921px);

.container {
  width: 100%;
  background: #000;
  margin: 30px 0 0;
}

.footerContainer {
  padding: 23px 20px;
  margin: auto;
  width: 100%;

  @media (min-width: 768px) {
    padding: 56px 0;
    margin: auto;
    width: 95%;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
  }
}

.footerDetails {
  border-bottom: 1px solid #333333;
  padding-bottom: 23px;

  & .insideContainer {
    display: flex;
    justify-content: space-between;
    & img {
      margin-bottom: 12px;
    }

    & p {
      font-size: 13px;
      font-family: NotoSans;
      font-weight: 600;
      color: rgb(102, 102, 102);
      line-height: 1.846;
      margin: 0;
    }
  }

  @media (--viewportSmall) {
    padding-bottom: 56px;
  }
}

.footerBottom {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 0 0;

  & > div {
    margin-right: 2rem;
    & > a {
      & > span {
        font-size: 23px;
      }
    }
  }
  & > a {
    margin: 10px 20px 0 0;
    font-size: 13px;
    font-family: NotoSans;
    &:first-of-type {
      margin-top: 50px;
    }
    &:hover {
      color: #999;
    }
  }
  @media (--viewportSmall) {
    padding-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: row;
    & > div {
      position: relative;
    }
    & > a {
      &:first-of-type {
        margin-top: 5px;
      }
      margin: 5px 20px 0 0;
    }
  }
}

.linklist {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0;
}
