.container {
    width: 95%;
    margin: 0 auto 130px;

    @media (min-width: 1440px;) {
        max-width: 1440px;
    }
}

.sectionsContainer {
    & > div {
        margin-top: 84px;
    }
}

.legend {
    & h3 {
        
  font-size: 22px;
  font-weight: 500;
  font-family: "Noto Sans CJK KR";
  color: rgb(0, 0, 0);
  line-height: 1.091;
  margin: 0 0 34px;

    }
}

.section {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #e6e6e6;
    padding-top: 24px;
    & div:last-child {
        margin: 0;
    }
}