.container {
    border-radius: 50px;
    border: 1px solid #e6e6e6;
    height: 56px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px  12px;
}

.container img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #eeeded;
}

.container span {
    padding-left: 12px;
}